<html>
    <head>
    	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

    	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">

		<link rel="stylesheet" type="text/css" href="/static/layouts/blog.css"> 
    </head>
    
    <body>
	<div id="layout" class="pure-g">
		<div class="sidebar pure-u-1 pure-u-md-1-4">
			<div class="header">
				<h1 class="brand-title">Fall 2017 CSCI 127 Project</h1>
				<h2 class="brand-tagline">by Tracey Kong and Angela Lim</h2>
		</div>
	</div>
		<div class="content pure-u-1 pure-u-md-3-4">
			<h1> Find in Mock Data</h1><hr/>
			<form class="form" action="" method="POST">
				Search: <input name="term" type="text" value=""/>
				<br/><br/>
				<input class="pure-button pure-button-primary" name="submit" type="submit"></input>
			</form>
			<br/>
			Results: {{'<br/>'.join(result)|safe}}
		</div>
    </body>

</html>
